@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --ui-bg: #0f172a; }

/* use Inter if available */
* { font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
html,body,#root { height: 100%; }
body { background-color: var(--ui-bg); }
/* near top of src/index.css */
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
