@import "tailwindcss"; /* <--- YOU MUST HAVE THIS LINE AT THE TOP */
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}